body {
    font-family: Georgia, Serif;
}

h1 {
    font-family: Sans-Serif;
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 0;
}

h2 {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

p {
    margin-top: 10px;
}

a {
    color: #000;
}

a:visited {
    color: #555;
}

img#logo {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tagline {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.announcement {
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

#clojure-j {
    font-style: italic;
    padding-right: 6px;
}

div#content {
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
